.modal {
  font-family: "Montserrat", sans-serif;
  background: #f4f4f4;
  position: fixed;
  left: 50%;
  top: 50%;
  box-shadow: 0px 6px 20px 2px #333;
  min-width: 35vw;
  padding: 20px;
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -50%);
  transition: min-width 0.5s ease, background-color 1s ease,
    visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
