#social-modal {
  width: 35vw;
  min-height: 34vh;

  & > .modal-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 0.6s;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    z-index: 2;
    transition: all 0.5s ease;
    overflow: auto;

    & > button {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 25px;
      cursor: pointer;
      overflow: hidden;
      outline: 0;
      background: transparent;
      font-family: "Montserrat", sans-serif;
      border: 0;
      transition: all 0.5s ease;
      filter: grayscale(0.25);
      position: relative;
      width: 100%;
      height: 100%;
      font-weight: bold;
      font-size: 1.5em;

      & > span {
        transition: all 0.5s ease;
        font-size: 2.5em;
        margin-bottom: 10px;

        &.fa-stack {
          font-size: 2em;
        }
      }

      &#facebook {
        color: facebook-color;

        &.hovering {
          &-gp {
            &::before {
              width: 100%;
            }
          }

          &-tw {
            &::after {
              height: 100%;
            }
          }
        }
      }

      &#twitter {
        color: twitter-color;

        & > span {
          font-size: 1.35em;
        }

        &.hovering {
          &-lk {
            &::before {
              width: 100%;
            }
          }
        }
      }

      &#google-plus {
        color: google-plus-color;

        &.hovering {
          &-lk {
            &::after {
              height: 100%;
            }
          }
        }
      }

      &#link {
        & > span {
          font-size: 1.35em;
        }

        svg {
          transition: all 0.5s ease;

          &.fa-check {
            color: #57de57;
            opacity: 0;
          }

          &.fa-times {
            opacity: 0;
            color: #ea0e0e;
          }
        }

        &.success,
        &.error {
          svg {
            &.fa-link {
              opacity: 0;
              transform: scale(0.8);
            }
          }
        }

        &.success {
          svg {
            &.fa-check {
              opacity: 1;
              transform: scale(1.5);
            }
          }
        }

        &.error {
          svg {
            &.fa-times {
              opacity: 1;
              transform: scale(1.5);
            }
          }
        }
      }

      &#facebook,
      &#twitter {
        &::before {
          content: "";
          position: absolute;
          right: 0;
          bottom: 0;
          height: 1px;
          width: 75%;
          border-bottom: 1px solid #777;
          transition: all 0.3s ease;
        }
      }

      &#twitter {
        &::before {
          left: 0;
        }
      }

      &#facebook,
      &#google-plus {
        &::after {
          content: "";
          position: absolute;
          border-right: 1px solid #777;
          top: 0;
          right: 0;
          width: 1px;
          height: 80%;
          transition: all 0.3s ease;
        }
      }

      &#facebook {
        &::after {
          top: unset;
          bottom: 0;
        }
      }

      &:not([disabled]) {
        &:hover,
        &:focus {
          box-shadow: inset 15px 15px 10px -15px #777,
            inset -12px -15px 10px -15px #777;
          filter: grayscale(0);

          &#facebook,
          &#google-plus {
            box-shadow: inset -15px 15px 10px -15px #777,
              inset -12px -15px 10px -15px #777;

            &::after {
              height: 100%;
            }
          }

          &#facebook,
          &#twitter {
            &::before {
              width: 100%;
            }
          }

          & > span {
            transform: scale(1.2);
          }
        }

        &#twitter:hover + #facebook {
          background: red;
        }

        &:active {
          & > span {
            transform: scale(0.8);
            transition: transform 0.25s ease;
          }

          & > h2 {
            transform: scale(0.8);
            text-shadow: 1px 2px 3px #828282;
          }
        }
      }

      &[disabled] {
        cursor: not-allowed;
      }
    }
  }
}

@media (max-width: 940px) {
  min-width: 80vw;
  height: 43vh;
  overflow: auto;
  
  @media (orientation: landscape){
    min-width: 55vw;
    height: 85vh;
    overflow: auto;      
  }
}

@media (max-width: 450px) {
  .modal-content {
    & > button {
      &#google-plus {
        h2 {
          font-size: 1.35em;
        }
      }
    }
  }
}