.tab-container{  
  overflow: hidden;
  
  & > div{
    &[role="tablist"]{      
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 72px;
      box-shadow: 0px 6px 20px 2px rgba(51,51,51, .5);
      background: #F4F4F4;
      
      & > button{
        font-family: 'Montserrat', sans-serif;        
        background: transparent;
        border: 0;
        outline: 0;
        width: 100%;
        height: 100%;
        padding: 25px;
        cursor: pointer;
        transition: all .5s ease;
        overflow: hidden;        
        
        &:hover,
        &:focus{
          box-shadow: inset 0px -5px 0px 0px #C78283;        
          color: #C78283;           
          
          &[aria-selected="false"]{            
            font-size: medium;            
            box-shadow: inset 0px -5px 0px 0px #b3b3b3;                                 
          }      
          
          @media (max-width: 450px){
            &[aria-selected="false"]{            
              font-size: small;            
            }   
          }              
        }

        &:active{
          &[aria-selected="false"]{
            font-size: .95rem;           
          }
          
          @media (max-width: 450px){
            font-size: .65rem;
          }              
        }

        &[aria-selected="true"]{
          font-size: x-large;
          color: #C78283;
          border-color: #C78283;
          box-shadow: inset 0px -5px 0px 0px #C78283;   
          
          @media (max-width: 450px){
            font-size: 1.0rem;
          }
        }

        &[aria-selected="false"]{
          color: #777;
          font-size: smaller;
          
          @media (max-width: 450px){
            font-size: .75rem;
          }          
        }  
        
        &:first-of-type{
          position: relative;
          
          &::after{
            content: '';
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translate(-50%, -50%);
            background: #777;
            width: 1px;
            height: 45%;
          }
        }
      }                  
    }
    
    &.tabs{  
      --n: 2;
      width: 200%;
      height: calc(100vh - 72px);
      max-height: calc(100vh - 72px);
      display: flex;
	    align-items: center;            
      overflow: hidden;
      scroll-behavior: smooth;
      will-change: transform;
      transform: translate(calc(var(--tx, 0px) + var(--i, 0)/var(--n)*-100%));      
      
      & > [role="tabpanel"]{
        flex: 1 0 50%;
        position: relative;       
        width: 100%;
        height: 100%;
        
        span.no-data{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #777;
          font-size: 1.4rem;  
          width: 100%;
          text-align: center;    
          padding: 0px 50px;
          line-height: 1.4;       
        }       
      }    
      
      &.smooth{
        transition: transform  calc(var(--f, 1)*.5s) ease-out;        
      }      
    }
  }
}