.Intro {
  grid-area: content;
  max-width: calc(100vw - 64px - 7px);

  & > div {
    padding: 20px 0px;
    padding-left: calc(var(--paragraph-margin-left) - 64px - 7px);
    padding-right: calc(var(--paragraph-margin-right) - 64px - 7px);
    transition: all 0.5s ease;

    @media only screen and(max-width: 768px) {
      padding-left: calc(var(--paragraph-margin-left) - 7px);
      padding-right: calc(var(--paragraph-margin-right) - 7px);
    }
  }

  @media only screen and (max-width: 768px) {
    max-width: 100vw;
  }
}
