.ChartreusesList {
  background: #313030;
  grid-area: list;
  transition: all 0.5s ease;
  max-height: 100vh;
  min-height: 200px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0px 0px 20px 2px #777;

  h2 {
    text-align: center;
    color: white;
    font-size: 28px;
    margin: 15px 0px;
    line-height: 100%;

    &:first-letter {
      color: #c0b283;
      font-size: 30px;
    }
  }

  & > h2 {
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
}

.ChartreusesListImages {
  --n: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 60px);
  user-select: none;

  div {
    width: 100%;
    height: 100%;
    min-height: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    outline: 0;
    border: 0;
    -webkit-tap-highlight-color: transparent;
    padding: 0;
    font-family: "Montserrat", sans-serif;

    &:not(.caption),
    &:not(.features) {
      cursor: grab;

      @media only screen and (max-width: 768px) {
        animation: showSlides 1.7s ease 0.7s 1 normal;
      }
    }

    &.caption,
    &.features {
      cursor: default;

      @media only screen and (max-width: 768px) {
        animation: none;
      }
    }

    &[draggable="false"] {
      cursor: not-allowed;
    }

    figure {
      margin: 1rem;
      height: 100%;
      margin: 0px;
      position: relative;
      overflow: hidden;
      position: relative;
      transition: all 1.5s ease;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(51, 51, 51, 0);
        z-index: 1;
        transition: all 0.5s ease;
      }

      img {
        width: 100%;
        height: 100%;
        transition: all 0.5s ease;
        object-fit: cover;
      }

      & > svg {
        color: #f4f4f4;
        position: absolute;
        top: 30%;
        transform: translate(-50%, -50%) scale(0.8);
        left: 50%;
        opacity: 0;
        transition: all 0.5s ease;
        z-index: 1;
        filter: drop-shadow(0px 0px 6px #333);

        @media only screen and (max-width: 768px) {
          visibility: hidden;
        }
      }

      figcaption {
        display: grid;
        grid-template-rows: 0.5fr 0.5fr;
        background: rgba(45, 45, 45, 0.8);
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
        transition: all 0.5s ease-in;
        transform: translateY(70%);
        z-index: 1;
        align-items: center;

        h2 {
          margin: 0px;
          color: #f4f4f4;
          font-size: 23px;

          &:first-letter {
            color: #c0b283;
            font-size: 26px;
          }
        }

        div {
          &.caption {
            display: flex;
            align-items: center;
            justify-content: center;

            & > span {
              display: none;

              @media only screen and (max-width: 768px) {
                display: inline-block;
                color: white;
                font-size: small;
              }
            }

            @media only screen and (max-width: 768px) {
              justify-content: space-evenly;
              width: 100%;
            }
          }

          &.features {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: baseline;

            div {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              cursor: default;

              svg {
                color: #f4f4f4;
                opacity: 0;
                transition: all 0.5s ease 0.15s;
              }

              h3 {
                color: #f4f4f4;
                opacity: 0;
                font-size: 1.2rem;
                transition: all 0.5s ease 0.25s;
              }
            }

            @media only screen and (max-width: 768px) {
              align-items: center;
              justify-items: center;
              width: 100%;
            }
          }
        }

        @media only screen and (max-width: 768px) {
          grid-template-rows: auto;
          height: 100%;
        }
      }
    }

    @media only screen and (max-width: 768px) {
      flex: 1 0 auto;
      width: 33%;
    }

    @media only screen and (min-width: 768px) {
      &:hover,
      &.active {
        & > figure {
          box-shadow: inset 0px 0px 100px 7px rgba(45, 45, 45, 0.8);

          &::before {
            background: rgba(51, 51, 51, 0.3);
          }

          img {
            filter: blur(1px);
          }

          & > svg {
            transform: translate(-50%, -50%) scale(1.2);
            opacity: 1;
          }

          figcaption {
            transform: translateY(0%);

            .features {
              h3,
              svg {
                opacity: 1;
              }
            }
          }
        }
      }

      &[draggable="true"] {
        &:active {
          & > figure {
            & > svg {
              transform: translate(-50%, -50%) scale(0.6);
              opacity: 1;
              color: #c0b282;
            }
          }
        }
      }

      &.active {
        & > figure {
          & > svg {
            color: #c0b282;
          }
        }
      }
    }
  }

  /* @media only screen and (max-width: 768px) {
        flex-direction: column;
        flex-wrap: wrap;
        overflow-x: hidden;
        height: 200px;
        width: 300%;
        scroll-behavior: smooth;
        will-change: transform;
        transform: translate(
          calc(var(--tx, 0px) + var(--i, 0) / var(--n) * -100%)
        );

        &.smooth {
          transition: transform calc(var(--f, 1) * 0.5s) ease-out;
        }
      } */
}
