.Explore {
  display: grid;
  grid-area: content;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "list editor";
  background-color: white;
  background-image: linear-gradient(#d4d7dd 2px, transparent 2px),
    linear-gradient(90deg, #d4d7dd 2px, transparent 2px),
    linear-gradient(#d4d7dd 1px, transparent 1px),
    linear-gradient(90deg, #d4d7dd 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;

  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "editor" "list";
  }
}
