.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 64px 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "sidebar main main";

  @media only screen and (max-width: 768px) {
    grid-template-areas: "main main main" "main main main" "sidebar sidebar sidebar";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 64px;
  }
}
