@import "_appbar";
@import "_modal";
@import "_fontModal";
@import "_socialModal";
@import "_tabs";
@import "_cards";
@import "_selectionPopover";
@import "_buttons";
@import "_typography";
@import "_animations";

@mixin alternativeNavbar {
  clip-path: none;
  height: 64px;
  max-width: 100%;

  ul {
    max-width: 100%;
    transform: skewY(0deg);
    clip-path: none;

    li {
      transform: skewY(0deg);

      a {
        transform: skewY(0deg);

        &::after {
          transform: skewY(0deg);
          bottom: 0px;
          height: 4px;
        }

        &:hover {
          &::after {
            height: 4px;
          }
        }
      }
    }
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --font-size-increase: 0rem;
  --heading-font: "Libre Baskerville", serif;
  --paragraph-font: "Montserrat", sans-serif;
  --paragraph-margin-left: 15vw;
  --paragraph-margin-right: 15vw;
  --line-height: 1.7em;
  --background-color: #f4f4f4;
  --text-color: #333;
  --button-border-color: rgba(192, 178, 129, 1);
  --pop-over-left: 50%;
  --pop-over-top: 50%;
}

::selection {
  color: #f4f4f4;
  background: #52acda;
  text-shadow: 0px 3px 20px #333;
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #2980b9, ease-in, #6dd5fa);
  border-radius: 6px;
}

html {
  box-sizing: border-box;
  font-family: var(--paragraph-font);
  color: var(--text-color);
  text-rendering: optimizeLegibility;
}

body {
  display: grid;
  grid-template-columns: 64px 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "sidebar main main";
  min-height: 100vh;
  max-height: 100vh;
  height: 100%;
  background-color: var(--background-color);
  transition: all 0.5s ease;

  &[data-modal] {
    main {
      overflow: hidden;
      background: rgba(51, 51, 51, 0.5);
      user-select: none;

      &::before {
        display: block;
      }

      #intro {
        header {
          nav {
            background: #949292;
          }
        }

        #features,
        #features::before {
          background: #949292;
        }
      }
    }

    &[data-modal="font-modal"] {
      #font-modal {
        z-index: 999;
        opacity: 1;
        visibility: visible;
        transform: scale(1) translate(-50%, -50%);
      }
    }
  }

  &.explore {
    #intro {
      display: none;
      grid-area: no-render;
    }

    #explore {
      display: grid;
      grid-area: content;

      #editor {
        #map,
        #model {
          animation: slideIn 1s ease 0s 1 normal forwards;
        }
      }

      #list {
        animation: slideIn 1s ease 0s 1 normal forwards;
      }

      @media only screen and (pointer: coarse) and (any-hover: none) and (max-width: 832px) and (orientation: landscape){
        &::before{
          content: "";          
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100vh;
          background-color: rgba(45,45,45, .5);
          z-index: 1;
        }

        &::after{
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100vh;
          z-index: 2;
          background-image: resolve("portrait_warning.png");
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }

    #saved-elements{
      display: none;
      grid-area: no-render;
    }

    @media only screen and (pointer: coarse) and (any-hover: none) and (max-width: 832px) and (orientation: landscape){
      main{
        overflow: hidden;
      }
    }    
  }

  &.saved-elements {
    #intro {
      display: none;
      grid-area: no-render;
    }

    #explore {
      display: none;
      grid-area: no-render;
    }

    #saved-elements {
      display: block;
    }
  }

  @media only screen and (max-width: 768px) {
    grid-template-areas: "main main main" "main main main" "sidebar sidebar sidebar";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 64px;
  }
}

main {
  grid-area: main;
  max-height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-auto-rows: 0px;
  grid-auto-columns: 0px;
  grid-template-areas: "content";
  max-width: 100vw;
  scroll-behavior: smooth;

  &::before {
    content: "";
    position: fixed;
    background: rgba(51, 51, 51, 0.7);
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
  }

  @media only screen and (max-width: 768px) {
    max-height: calc(100vh - 64px);
  }
}

#intro {
  grid-area: content;
  max-width: calc(100vw - 64px - 7px);

  & > div {
    padding: 20px 0px;
    padding-left: calc(var(--paragraph-margin-left) - 64px - 7px);
    padding-right: calc(var(--paragraph-margin-right) - 64px - 7px);
    transition: all 0.5s ease;

    @media only screen and(max-width: 768px) {
      padding-left: calc(var(--paragraph-margin-left) - 7px);
      padding-right: calc(var(--paragraph-margin-right) - 7px);
    }
  }

  header {
    background-image: url("http://padulafoto.it/wp-content/uploads/2018/04/Certosa-di-S.Lorenzo-2000x1200.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 50vh;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(45, 45, 45, 0.175);
    }

    nav {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: var(--background-color);
      height: 150px;
      clip-path: polygon(0 0, 100% 60%, 100% 100%, 0% 100%);
      transition: all 0.5s ease, background 0s linear;

      ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        padding: 0px;
        margin: 0px;
        height: 100%;
        transform: skewY(2.5deg);
        clip-path: polygon(0% 0%, 100% 0, 100% 72%, 0 80%);

        li {
          transform: skewY(-2.5deg);
          width: 100%;
          height: 100%;

          a {
            text-decoration: none;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            color: var(--text-color);
            text-transform: uppercase;
            transition: all 0.25s ease;
            text-align: center;
            transform: skewY(1.5deg);
            position: relative;
            outline: 0;
            border: 0;
  
            &::after {
              position: absolute;
              bottom: 0px;
              left: 0;
              content: "";
              width: 100%;
              height: 25%;
              transition: all 0.5s ease;
              transform: skewY(1deg);
              background: transparent;
            }
  
            &:hover {
              color: #c78283;
              font-size: larger;
  
              &::after {
                position: absolute;
                bottom: 4%;
                left: 0;
                background: #c78283;
                content: "";
                width: 100%;
                height: 25%;
              }
            }
          }          
        }
      }

      &.fixed {
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 10px 0px 20px 2px #333;
        position: fixed;
        top: 0;
        clip-path: none;
        height: 64px;
        transition: all 0.5s ease;
        left: unset;
        right: 0;
        width: calc(100% - 64px);
        z-index: 2;

        ul {
          clip-path: none;
          transform: skewY(0deg);

          li {
            transform: skewY(0deg);

            a {
              transform: skewY(0deg);

              &::after {
                transform: skewY(0deg);
                bottom: 0px;
                height: 5px;
              }
            }
          }
        }

        @media only screen and (max-width: 768px) {
          width: 100%;
        }
      }

      @supports not (clip-path: polygon(0 0, 100% 60%, 100% 100%, 0% 100%)) {
        @include alternativeNavbar;
      }

      @media (max-width: 1024px) {
        @include alternativeNavbar;
      }

      @media (max-width: 580px) {
        /*
  Hamburger menu should go here!
*/
      }
    }
  }

  #features {
    background: #eeeeee;
    text-align: center;
    position: relative;
    transition: background 0s ease;

    &:before {
      @supports not (clip-path: polygon(0% 100%, 100% 0%, 100% 0%, 0% 0%)) {
        content: none;
      }

      content: "";
      height: 80px;
      width: 100%;
      background-color: var(--background-color);
      position: absolute;
      top: -1px;
      left: 0;
      clip-path: polygon(0% 100%, 100% 0%, 100% 0%, 0% 0%);
      transition: background 0s ease;
    }

    #features-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 150px;

      .features {
        padding: 20px;

        svg {
          color: #5fa9d7;
          filter: drop-shadow(0px 4px 2px #c0b281);
        }

        h3 {
          font-weight: 300;
        }

        p {
          color: #9e9e9e;
          padding-left: unset;
          padding-right: unset;
        }
      }

      @media (max-width: 1024px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
      }
    }
  }

  @media only screen and (max-width: 768px) {
    max-width: 100vw;
  }
}

#explore {
  display: none;
  grid-area: no-render;
  grid-template-columns: 400px auto;
  grid-template-rows: 1fr;
  grid-template-areas: "list editor";

  #list {
    background: #313030;
    grid-area: list;
    transition: all 0.5s ease;
    transform: translateX(-100vw);
    max-height: 100vh;
    min-height: 200px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0px 0px 20px 2px #777;

    h2 {
      text-align: center;
      color: white;
      font-size: 28px;
      margin: 15px 0px;
      line-height: 100%;

      &:first-letter {
        color: #c0b283;
        font-size: 30px;
      }
    }

    & > h2 {
      @media only screen and (max-width: 768px) {
        display: none;
      }
    }

    #images {
      --n: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: calc(100% - 60px);
      user-select: none;

      div {
        width: 100%;
        height: 100%;
        min-height: 0px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        outline: 0;
        border: 0;
        -webkit-tap-highlight-color: transparent;
        padding: 0;
        font-family: "Montserrat", sans-serif;

        figure {
          margin: 1rem;
          height: 100%;
          margin: 0px;
          position: relative;
          overflow: hidden;
          position: relative;
          transition: all 1.5s ease;

          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(51, 51, 51, 0);
            z-index: 1;
            transition: all 0.5s ease;
          }

          img {
            width: 100%;
            height: 100%;
            transition: all 0.5s ease;
            object-fit: cover;
          }

          & > svg {
            color: #f4f4f4;
            position: absolute;
            top: 30%;
            transform: translate(-50%, -50%) scale(0.8);
            left: 50%;
            opacity: 0;
            transition: all 0.5s ease;
            z-index: 1;
            filter: drop-shadow(0px 0px 6px #333);

            @media only screen and (max-width: 768px) {
              visibility: hidden;
            }
          }

          figcaption {
            display: grid;
            grid-template-rows: 0.5fr 0.5fr;
            background: rgba(45, 45, 45, 0.8);
            bottom: 0;
            left: 0;
            position: absolute;
            width: 100%;
            transition: all 0.5s ease-in;
            transform: translateY(70%);
            z-index: 1;
            align-items: center;

            h2 {
              margin: 0px;
              color: #f4f4f4;
              font-size: 23px;

              &:first-letter {
                color: #c0b283;
                font-size: 26px;
              }
            }

            div {
              &.caption {
                display: flex;
                align-items: center;
                justify-content: center;

                & > span {
                  display: none;

                  @media only screen and (max-width: 768px) {
                    display: inline-block;
                    color: white;
                    font-size: small;
                  }
                }

                @media only screen and (max-width: 768px) {
                  justify-content: space-evenly;
                  width: 100%;
                }
              }

              &.features {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                align-items: baseline;

                div {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;

                  svg {
                    color: #f4f4f4;
                    opacity: 0;
                    transition: all 0.5s ease 0.15s;
                  }

                  h3 {
                    color: #f4f4f4;
                    opacity: 0;
                    font-size: 1.2rem;
                    transition: all 0.5s ease 0.25s;
                  }
                }

                @media only screen and (max-width: 768px) {
                  align-items: center;
                  justify-items: center;
                  width: 100%;
                }
              }
            }

            @media only screen and (max-width: 768px) {
              grid-template-rows: auto;
              height: 100%;
            }
          }
        }

        @media only screen and (max-width: 768px) {
          flex: 1 0 auto;
          width: 33%;
          animation: showSlides 2s ease 0.7s 1 normal;
        }

        @media only screen and (min-width: 768px) {
          &:hover {
            & > figure {
              box-shadow: inset 0px 0px 100px 7px rgba(45, 45, 45, 0.8);

              &::before {
                background: rgba(51, 51, 51, 0.3);
              }

              img {
                filter: blur(1px);
              }

              & > svg {
                transform: translate(-50%, -50%) scale(1.2);
                opacity: 1;
              }

              figcaption {
                transform: translateY(0%);

                .features {
                  h3,
                  svg {
                    opacity: 1;
                  }
                }
              }
            }
          }

          &:active {
            & > figure {
              & > svg {
                transform: translate(-50%, -50%) scale(0.6);
                opacity: 1;
                color: #c0b282;
              }
            }
          }

          &.active {
            & > figure {
              &::before {
                background: rgba(51, 51, 51, 0.3);
              }

              img {
                filter: blur(1px);
              }

              & > svg {
                top: 50%;
                transform: translate(-50%, -50%) scale(1.2);
                opacity: 1;
                color: #c0b282;
              }

              figcaption {
                transform: translateY(70%);

                .features {
                  h3,
                  svg {
                    opacity: 0;
                  }
                }
              }
            }
          }
        }
      }

      @media only screen and (max-width: 768px) {
        flex-direction: column;
        flex-wrap: wrap;
        overflow-x: hidden;
        height: 200px;
        width: 300%;
        scroll-behavior: smooth;
        will-change: transform;
        transform: translate(
          calc(var(--tx, 0px) + var(--i, 0) / var(--n) * -100%)
        );

        &.smooth {
          transition: transform calc(var(--f, 1) * 0.5s) ease-out;
        }
      }
    }
  }

  #editor {
    grid-area: editor;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "model" "map";
    max-height: 100vh;
    overflow: hidden;

    #model {
      grid-area: model;
      transition: all 0.5s ease;
      transform: translateX(100vw);
      box-shadow: 0px 0px 20px 2px #333;
      background-color: #373737;
      width: calc(100vw - 400px - 64px);
      height: 100%;
      position: relative;

      @media (max-width: 768px) {
        width: 100vw;
      }

      span {
        position: absolute;
        color: white;
        bottom: 14px;
        right: 205px;
        transition: all 0.5s ease;

        &.show {
          opacity: 1;
        }
      }

      iframe {
        width: 100%;
        height: 100%;
        border: 0px;
      }

      p {
        display: none;
      }
    }

    #map {
      grid-area: map;
      transition: all 0.5s ease;
      transform: translateX(100vw);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      background-image: linear-gradient(#d4d7dd 2px, transparent 2px),
        linear-gradient(90deg, #d4d7dd 2px, transparent 2px),
        linear-gradient(#d4d7dd 1px, transparent 1px),
        linear-gradient(90deg, #d4d7dd 1px, transparent 1px);
      background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
      background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
      img {
        max-width: 100%;
      }
    }

    @media only screen and (max-width: 768px) {
      grid-template-areas: "map" "model";
    }
  }

  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "editor" "list";
  }
}

#saved-elements {
  grid-area: content;
  display: none;
  transition: all 0.5s ease;
}

#top-btn{
  position: fixed;
  bottom: 25px;
  right: 25px;
  border-radius: 50%;
  border: 0;
  z-index: 999;
  width: 64px;
  height: 64px;
  color: #373737;
  cursor: pointer;
  transition: all .5s ease;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  opacity: 1;

  &:hover,
  &:focus,
  &:active,
  &.active{
    background: linear-gradient(to bottom, #2980b9, ease-in, #6dd5fa);
    color: white;
  }

  &:hover,
  &:focus{
    filter: drop-shadow(0 10px 20px rgba(41,41,41,.5));
    transform: translateY(-12px);    
  }

  &:active,
  &.active{
    filter: drop-shadow(0 10px 20px rgba(41,41,41,.5));
    transform: translateY(-25px);
  }

  &.hide{
    transform: translateY(200px);
    opacity: 0;
    cursor: default;    
  }  

  @media only screen and (max-width: 768px) {
    bottom: 70px;
  }  
}